.category {
  display: flex;
  flex-direction: column;
  gap: 9px;
}


.categoryBtn {
  background-color: white;
  border: none;
}

.categoryBtn:hover {
  cursor: pointer;
  font-size: 14px;
  padding: 3px;
}

@media screen and ( max-width : 770px ) {

  .category {
    min-width: 25%;
  }
}
