.paymentMethod {
  background-color: whitesmoke;
  border: solid rgb(185, 185, 185) 1px;
  border-radius: 18px;
  box-shadow: 15px 10px 10px grey;
  margin: 40px auto;
  width: 70%;
}

.paymentMethod h2 {
  margin-left: 60px;
  text-align: start;
}

.paymentMethod form {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.paymentMethod form div {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.paymentMethod form div label {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.paymentMethod form div input {
  width: 5%;
}

.paymentMethod form div img {
  border-radius: 7px;
  height: 52px;
  margin: 8px 0 20px;
  width: 70px;
}

.paymentMethod .error {
  color: red;
  font-weight: 900;
}

@media screen and ( max-width : 770px ) {

  .paymentMethod {
    box-shadow: none;
    margin: 10px auto;
    width: 95%;
  }

  .paymentMethod h2 {
    font-size: 22px;
    margin-left: 0;
    text-align: center;
  }

  .paymentMethod form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
