.container-details {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.button-frame {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-details {
  background-color: rgb(40, 180, 40);
  border-radius: 35px;
  width: 90px;
}

.products-detail-text {
  align-self: center;
  text-align: center;
}

/* label {
  margin: 10 px;
} */

.img-frame {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  width: 100%;
}

[ type = 'radio' ] {
  margin: 5 px;
  padding: 5 px;
}

.detail-shopping-cart {
  align-items: flex-end;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
}

