* {
  margin: 15px;
}

[ type = ' radio ' ] {
  margin: 10 px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-comments {
  background-color: rgb(40, 180, 40);
  border-radius: 35px;
  width: 90px;
}
.comment-card{
  border: 2px solid black;
}
div {
  display: flex;
  flex-flow: column;
}

label {
  margin: 10 px;
}
